<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1373},{102,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,56}}</string>
                <key>sourceSize</key>
                <string>{102,56}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,859},{85,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,56}}</string>
                <key>sourceSize</key>
                <string>{85,56}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1373},{98,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,56}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1455},{99,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,56}}</string>
                <key>sourceSize</key>
                <string>{99,56}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1373},{101,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,56}}</string>
                <key>sourceSize</key>
                <string>{101,56}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1373},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1455},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,494},{90,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{90,56}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1373},{101,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,56}}</string>
                <key>sourceSize</key>
                <string>{101,56}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1455},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>addScorebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1341},{138,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,34}}</string>
                <key>sourceSize</key>
                <string>{138,34}</string>
            </dict>
            <key>bankbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,957},{102,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,63}}</string>
                <key>sourceSize</key>
                <string>{102,63}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>btnexit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,642},{84,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>btninvitation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,958},{154,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,61}}</string>
                <key>sourceSize</key>
                <string>{154,61}</string>
            </dict>
            <key>btnmassage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btnoutuser.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,180},{218,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,93}}</string>
                <key>sourceSize</key>
                <string>{218,93}</string>
            </dict>
            <key>btnready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1178},{152,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,61}}</string>
                <key>sourceSize</key>
                <string>{152,61}</string>
            </dict>
            <key>btnsetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,94},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>btnuserlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1299},{40,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,145}}</string>
                <key>sourceSize</key>
                <string>{40,145}</string>
            </dict>
            <key>btnvoice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,552},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>cm-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1455},{100,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,106}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>cm-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1455},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>cm-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1602},{102,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,106}}</string>
                <key>sourceSize</key>
                <string>{102,106}</string>
            </dict>
            <key>cm-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1602},{102,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,107}}</string>
                <key>sourceSize</key>
                <string>{102,107}</string>
            </dict>
            <key>cm-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1602},{102,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,106}}</string>
                <key>sourceSize</key>
                <string>{102,106}</string>
            </dict>
            <key>cmbg-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1602},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>cmbg-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1602},{126,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,125}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>cmbg-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1602},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>cmbg-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1602},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>cmbg-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1602},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>cmhs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1455},{100,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,106}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>dasangong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1079},{154,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,56}}</string>
                <key>sourceSize</key>
                <string>{154,56}</string>
            </dict>
            <key>gamegold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,917},{36,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,29}}</string>
                <key>sourceSize</key>
                <string>{36,29}</string>
            </dict>
            <key>gamestart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{615,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,140}}</string>
                <key>sourceSize</key>
                <string>{615,140}</string>
            </dict>
            <key>headportraitbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1377},{102,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,137}}</string>
                <key>sourceSize</key>
                <string>{102,137}</string>
            </dict>
            <key>headportraiticon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1167},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>hunsangong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1021},{154,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,56}}</string>
                <key>sourceSize</key>
                <string>{154,56}</string>
            </dict>
            <key>message.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>myheadportraitbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1541},{224,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,128}}</string>
                <key>sourceSize</key>
                <string>{224,128}</string>
            </dict>
            <key>paybtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,853},{102,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,63}}</string>
                <key>sourceSize</key>
                <string>{102,63}</string>
            </dict>
            <key>roominfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,754},{221,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,97}}</string>
                <key>sourceSize</key>
                <string>{221,97}</string>
            </dict>
            <key>sitdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,814},{87,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,43}}</string>
                <key>sourceSize</key>
                <string>{87,43}</string>
            </dict>
            <key>startaddscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,286},{613,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,140}}</string>
                <key>sourceSize</key>
                <string>{613,140}</string>
            </dict>
            <key>startbipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,144},{613,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,140}}</string>
                <key>sourceSize</key>
                <string>{613,140}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1373},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>userinfo_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1602},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>userinfo_bj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1137},{153,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,39}}</string>
                <key>sourceSize</key>
                <string>{153,39}</string>
            </dict>
            <key>userinfo_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,400},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>userinfolabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1061},{205,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,58}}</string>
                <key>sourceSize</key>
                <string>{205,58}</string>
            </dict>
            <key>useritembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1311},{188,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,60}}</string>
                <key>sourceSize</key>
                <string>{188,60}</string>
            </dict>
            <key>useritemhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1999},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>userlistbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1767},{250,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,540}}</string>
                <key>sourceSize</key>
                <string>{250,540}</string>
            </dict>
            <key>userlistbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1767},{230,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,512}}</string>
                <key>sourceSize</key>
                <string>{230,512}</string>
            </dict>
            <key>wanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,728},{84,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>wanfabj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,428},{1172,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1172,544}}</string>
                <key>sourceSize</key>
                <string>{1172,544}</string>
            </dict>
            <key>wanfalabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1481},{132,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,58}}</string>
                <key>sourceSize</key>
                <string>{132,58}</string>
            </dict>
            <key>xiaosangong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1241},{152,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,56}}</string>
                <key>sourceSize</key>
                <string>{152,56}</string>
            </dict>
            <key>xzw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1349},{104,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>xzw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1243},{104,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>xzw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1061},{104,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>xzw-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,852},{104,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>xzw-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,746},{104,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>xzw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,640},{104,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>xzw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,534},{104,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>xzw-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,428},{104,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>xzw-bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1121},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>xzw-fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,853},{206,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,206}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_scene.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43ebe15948a6c827f1e46b4fc32f7f2f:1/1$</string>
            <key>textureFileName</key>
            <string>game_scene.png</string>
        </dict>
    </dict>
</plist>
