<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,171},{102,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,56}}</string>
				<key>sourceSize</key>
				<string>{102,56}</string>
			</dict>

			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,114},{85,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,56}}</string>
				<key>sourceSize</key>
				<string>{85,56}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,228},{98,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,56}}</string>
				<key>sourceSize</key>
				<string>{98,56}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,399},{99,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,56}}</string>
				<key>sourceSize</key>
				<string>{99,56}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,285},{101,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,56}}</string>
				<key>sourceSize</key>
				<string>{101,56}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,342},{100,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,56}}</string>
				<key>sourceSize</key>
				<string>{100,56}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,399},{100,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,56}}</string>
				<key>sourceSize</key>
				<string>{100,56}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,171},{90,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,56}}</string>
				<key>sourceSize</key>
				<string>{90,56}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,228},{101,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,56}}</string>
				<key>sourceSize</key>
				<string>{101,56}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,342},{100,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,56}}</string>
				<key>sourceSize</key>
				<string>{100,56}</string>
			</dict>

			<key>dasangong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{154,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,56}}</string>
				<key>sourceSize</key>
				<string>{154,56}</string>
			</dict>

			<key>hunsangong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,57},{154,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,56}}</string>
				<key>sourceSize</key>
				<string>{154,56}</string>
			</dict>

			<key>xiaosangong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,114},{152,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,56}}</string>
				<key>sourceSize</key>
				<string>{152,56}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>game_count.png</string>
			</dict>
		</dict>
</plist>