<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cancelbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1852},{223,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,92}}</string>
				<key>sourceSize</key>
				<string>{223,92}</string>
			</dict>

			<key>close.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,1852},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,55}}</string>
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>

			<key>diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,1908},{40,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,32}}</string>
				<key>sourceSize</key>
				<string>{40,32}</string>
			</dict>

			<key>ensurebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,1852},{218,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,93}}</string>
				<key>sourceSize</key>
				<string>{218,93}</string>
			</dict>

			<key>gamegold.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,1908},{39,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,34}}</string>
				<key>sourceSize</key>
				<string>{39,34}</string>
			</dict>

			<key>getbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,1945},{218,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,93}}</string>
				<key>sourceSize</key>
				<string>{218,93}</string>
			</dict>

			<key>money.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,1852},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,39}}</string>
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>

			<key>popupwindow1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1181,677}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1181,677}}</string>
				<key>sourceSize</key>
				<string>{1181,677}</string>
			</dict>

			<key>popupwindow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1234},{741,617}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{741,617}}</string>
				<key>sourceSize</key>
				<string>{741,617}</string>
			</dict>

			<key>popupwindow3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,678},{749,555}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{749,555}}</string>
				<key>sourceSize</key>
				<string>{749,555}</string>
			</dict>

			<key>takeoutbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1945},{220,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,93}}</string>
				<key>sourceSize</key>
				<string>{220,93}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>public.png</string>
			</dict>
		</dict>
</plist>