<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,80}}</string>
				<key>sourceSize</key>
				<string>{79,80}</string>
			</dict>

			<key>dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,193},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>dot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,193},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>l.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,182},{26,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,21},{26,10}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>l_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,60},{25,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,6},{25,41}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>l_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,60},{15,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{15,40}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>l_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,185},{25,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,6},{25,40}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>l_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,143},{24,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,6},{24,40}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>l_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,141},{28,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,6},{28,40}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>l_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,102},{26,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,6},{26,41}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>l_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,60},{26,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,6},{26,41}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>l_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,144},{25,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,6},{25,40}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>l_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,102},{25,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,6},{25,41}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>l_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,143},{25,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,6},{25,41}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>l_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,216},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,8},{34,33}}</string>
				<key>sourceSize</key>
				<string>{48,50}</string>
			</dict>

			<key>l_y.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,216},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,6},{35,36}}</string>
				<key>sourceSize</key>
				<string>{48,50}</string>
			</dict>

			<key>record.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{204,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,59}}</string>
				<key>sourceSize</key>
				<string>{204,59}</string>
			</dict>

			<key>w_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,60},{25,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,6},{25,41}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>w_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,184},{15,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,6},{15,40}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>w_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,60},{25,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,6},{25,40}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>w_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,102},{24,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,6},{24,40}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>w_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,141},{28,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,6},{28,40}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>w_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,182},{26,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,7},{26,40}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>w_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,144},{25,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,6},{25,41}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>w_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,186},{25,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,7},{25,39}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>w_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,185},{25,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,6},{25,41}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>w_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,101},{25,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,6},{25,41}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>

			<key>w_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{37,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{37,35}}</string>
				<key>sourceSize</key>
				<string>{48,50}</string>
			</dict>

			<key>w_y.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,141},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,6},{38,38}}</string>
				<key>sourceSize</key>
				<string>{48,50}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>record.png</string>
			</dict>
		</dict>
</plist>