<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bj0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{673,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{673,323}}</string>
                <key>sourceSize</key>
                <string>{673,323}</string>
            </dict>
            <key>bj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,106},{549,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,4}}</string>
                <key>sourceSize</key>
                <string>{549,4}</string>
            </dict>
            <key>bj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,314},{580,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,34}}</string>
                <key>sourceSize</key>
                <string>{580,34}</string>
            </dict>
            <key>bj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,67},{138,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,37}}</string>
                <key>sourceSize</key>
                <string>{138,37}</string>
            </dict>
            <key>loser.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,578},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>moneymodel.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{181,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,30}}</string>
                <key>sourceSize</key>
                <string>{181,30}</string>
            </dict>
            <key>portraiticon.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,106},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>portraiticonbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,220},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>roomcardmodel.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,34},{180,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,31}}</string>
                <key>sourceSize</key>
                <string>{180,31}</string>
            </dict>
            <key>selfcentretitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,318},{205,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,58}}</string>
                <key>sourceSize</key>
                <string>{205,58}</string>
            </dict>
            <key>touchd.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,67},{249,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,42}}</string>
                <key>sourceSize</key>
                <string>{249,42}</string>
            </dict>
            <key>touchk.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,631},{211,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,42}}</string>
                <key>sourceSize</key>
                <string>{211,42}</string>
            </dict>
            <key>winner.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,525},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selfcentre.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d209581d056e69d607aacd9bcf4e96e:1/1$</string>
            <key>textureFileName</key>
            <string>selfcentre.png</string>
        </dict>
    </dict>
</plist>
