<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barragelabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{89,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,51}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>closebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{105,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,53}}</string>
                <key>sourceSize</key>
                <string>{105,53}</string>
            </dict>
            <key>musiclabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{88,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,50}}</string>
                <key>sourceSize</key>
                <string>{88,50}</string>
            </dict>
            <key>openbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,57},{104,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,53}}</string>
                <key>sourceSize</key>
                <string>{104,53}</string>
            </dict>
            <key>setting11.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,63},{343,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,26}}</string>
                <key>sourceSize</key>
                <string>{343,26}</string>
            </dict>
            <key>setting12.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{343,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,26}}</string>
                <key>sourceSize</key>
                <string>{343,26}</string>
            </dict>
            <key>settinglabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,59}}</string>
                <key>sourceSize</key>
                <string>{117,59}</string>
            </dict>
            <key>soundeffectlabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{89,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,50}}</string>
                <key>sourceSize</key>
                <string>{89,50}</string>
            </dict>
            <key>string2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>voicelabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{89,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,49}}</string>
                <key>sourceSize</key>
                <string>{89,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3802d0a04ac458dd9c2aa3cd823f7cb4:1/1$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
