<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>button_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,665},{209,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,83}}</string>
				<key>sourceSize</key>
				<string>{209,83}</string>
			</dict>

			<key>button_pay.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,833},{160,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,64}}</string>
				<key>sourceSize</key>
				<string>{160,64}</string>
			</dict>

			<key>button_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,749},{195,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,83}}</string>
				<key>sourceSize</key>
				<string>{195,83}</string>
			</dict>

			<key>coins_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,745},{90,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,40}}</string>
				<key>sourceSize</key>
				<string>{90,40}</string>
			</dict>

			<key>coins_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,786},{90,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,40}}</string>
				<key>sourceSize</key>
				<string>{90,40}</string>
			</dict>

			<key>conversion_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,979},{91,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,41}}</string>
				<key>sourceSize</key>
				<string>{91,41}</string>
			</dict>

			<key>conversion_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,979},{91,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,41}}</string>
				<key>sourceSize</key>
				<string>{91,41}</string>
			</dict>

			<key>createsangongdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1059,405}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1059,405}}</string>
				<key>sourceSize</key>
				<string>{1059,405}</string>
			</dict>

			<key>diamond0.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,406},{122,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,36},{122,108}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>diamond1.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,833},{145,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,5},{145,141}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>diamond2.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,738},{136,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,20},{136,121}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>diamond3.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,406},{131,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,9},{131,137}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>diamond4.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,733},{130,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,17},{130,126}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>diamond5.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,862},{140,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,29},{140,102}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>diamond_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,979},{91,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,41}}</string>
				<key>sourceSize</key>
				<string>{91,41}</string>
			</dict>

			<key>diamond_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,979},{82,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,41}}</string>
				<key>sourceSize</key>
				<string>{82,41}</string>
			</dict>

			<key>gamegold0.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,862},{137,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,97}}</string>
				<key>sourceSize</key>
				<string>{137,97}</string>
			</dict>

			<key>gamegold1.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,745},{141,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,116}}</string>
				<key>sourceSize</key>
				<string>{141,116}</string>
			</dict>

			<key>gamegold2.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,860},{123,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,118}}</string>
				<key>sourceSize</key>
				<string>{123,118}</string>
			</dict>

			<key>gamegold3.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,622},{145,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,118}}</string>
				<key>sourceSize</key>
				<string>{145,118}</string>
			</dict>

			<key>gamegold4.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,622},{144,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,122}}</string>
				<key>sourceSize</key>
				<string>{144,122}</string>
			</dict>

			<key>gamegold5.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,622},{139,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,115}}</string>
				<key>sourceSize</key>
				<string>{139,115}</string>
			</dict>

			<key>gamegold_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,979},{88,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,40}}</string>
				<key>sourceSize</key>
				<string>{88,40}</string>
			</dict>

			<key>gamegold_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,975},{88,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,40}}</string>
				<key>sourceSize</key>
				<string>{88,40}</string>
			</dict>

			<key>labelbj.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,898},{160,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,43}}</string>
				<key>sourceSize</key>
				<string>{160,43}</string>
			</dict>

			<key>money0.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,860},{114,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,26},{114,98}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>money1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,406},{98,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,20},{98,111}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>money2.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,515},{98,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,20},{98,111}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>money3.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,635},{104,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,19},{104,113}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>money4.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,622},{135,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,20},{135,110}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>money5.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,515},{118,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,16},{118,119}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>shopitembj.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,749},{204,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,249}}</string>
				<key>sourceSize</key>
				<string>{204,249}</string>
			</dict>

			<key>shoplabel.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,406},{671,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{671,215}}</string>
				<key>sourceSize</key>
				<string>{671,215}</string>
			</dict>

			<key>tou.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,622},{236,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{236,42}}</string>
				<key>sourceSize</key>
				<string>{236,42}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>shop.png</string>
			</dict>
		</dict>
</plist>