<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fiveday.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,416},{78,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,81}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>fourday.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,336},{78,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,81}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{172,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,194}}</string>
                <key>sourceSize</key>
                <string>{172,194}</string>
            </dict>
            <key>frame7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,349}}</string>
                <key>sourceSize</key>
                <string>{308,349}</string>
            </dict>
            <key>got.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{140,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,119}}</string>
                <key>sourceSize</key>
                <string>{140,119}</string>
            </dict>
            <key>oneday.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,176},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>secondday.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,256},{78,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,81}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>sevenday.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,353},{111,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,117}}</string>
                <key>sourceSize</key>
                <string>{111,117}</string>
            </dict>
            <key>signinlabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,353},{138,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,67}}</string>
                <key>sourceSize</key>
                <string>{138,67}</string>
            </dict>
            <key>sixday.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,353},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>threeday.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,256},{78,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,81}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>signin.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42298375ba76115c9d45b35cfd7b78ff:1/1$</string>
            <key>textureFileName</key>
            <string>signin.png</string>
        </dict>
    </dict>
</plist>
