<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>createroombtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,185}}</string>
                <key>sourceSize</key>
                <string>{482,185}</string>
            </dict>
            <key>friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{177,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,67}}</string>
                <key>sourceSize</key>
                <string>{177,67}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{177,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,66}}</string>
                <key>sourceSize</key>
                <string>{177,66}</string>
            </dict>
            <key>startnowbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{451,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,181}}</string>
                <key>sourceSize</key>
                <string>{451,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createroom.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:575541237dc4b392300b69ef61a5e466:1/1$</string>
            <key>textureFileName</key>
            <string>createroom.png</string>
        </dict>
    </dict>
</plist>
