<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,483},{138,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,83}}</string>
                <key>sourceSize</key>
                <string>{138,83}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{138,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,83}}</string>
                <key>sourceSize</key>
                <string>{138,83}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,343},{138,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,83}}</string>
                <key>sourceSize</key>
                <string>{138,83}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,793},{137,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,83}}</string>
                <key>sourceSize</key>
                <string>{137,83}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{138,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,83}}</string>
                <key>sourceSize</key>
                <string>{138,83}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{138,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,83}}</string>
                <key>sourceSize</key>
                <string>{138,83}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,708},{137,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,83}}</string>
                <key>sourceSize</key>
                <string>{137,83}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,203},{138,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,83}}</string>
                <key>sourceSize</key>
                <string>{138,83}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{138,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,83}}</string>
                <key>sourceSize</key>
                <string>{138,83}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,623},{137,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,83}}</string>
                <key>sourceSize</key>
                <string>{137,83}</string>
            </dict>
            <key>againinput.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,63},{138,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,83}}</string>
                <key>sourceSize</key>
                <string>{138,83}</string>
            </dict>
            <key>delect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{138,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,83}}</string>
                <key>sourceSize</key>
                <string>{138,83}</string>
            </dict>
            <key>inputframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{518,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,79}}</string>
                <key>sourceSize</key>
                <string>{518,79}</string>
            </dict>
            <key>joinroomlabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,59}}</string>
                <key>sourceSize</key>
                <string>{202,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>joinroom.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64e0196d94271b39ec2daec5248c9117:1/1$</string>
            <key>textureFileName</key>
            <string>joinroom.png</string>
        </dict>
    </dict>
</plist>
