<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>agreement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,43}</string>
                <key>spriteSourceSize</key>
                <string>{211,43}</string>
                <key>textureRect</key>
                <string>{{1408,1445},{211,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1334,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,686}</string>
                <key>spriteSourceSize</key>
                <string>{586,686}</string>
                <key>textureRect</key>
                <string>{{1125,753},{586,686}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,44}</string>
                <key>spriteSourceSize</key>
                <string>{377,44}</string>
                <key>textureRect</key>
                <string>{{1337,689},{377,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1122,742}</string>
                <key>spriteSourceSize</key>
                <string>{1122,742}</string>
                <key>textureRect</key>
                <string>{{1,753},{1122,742}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,45}</string>
                <key>spriteSourceSize</key>
                <string>{42,45}</string>
                <key>textureRect</key>
                <string>{{1716,689},{42,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{1763,689},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,102}</string>
                <key>spriteSourceSize</key>
                <string>{248,102}</string>
                <key>textureRect</key>
                <string>{{1408,1341},{248,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,686}</string>
                <key>spriteSourceSize</key>
                <string>{586,686}</string>
                <key>textureRect</key>
                <string>{{1337,1},{586,686}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,181}</string>
                <key>spriteSourceSize</key>
                <string>{188,181}</string>
                <key>textureRect</key>
                <string>{{1658,1341},{188,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,109}</string>
                <key>spriteSourceSize</key>
                <string>{281,109}</string>
                <key>textureRect</key>
                <string>{{1125,1341},{281,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1924,1523}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79d759bf9d58ee4faa782ff68a19d327:512c9dde7dfe369c0fbd0e5c9cb62eb8:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
