<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{209,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,83}}</string>
                <key>sourceSize</key>
                <string>{209,83}</string>
            </dict>
            <key>button_pay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{160,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,64}}</string>
                <key>sourceSize</key>
                <string>{160,64}</string>
            </dict>
            <key>button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{195,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,83}}</string>
                <key>sourceSize</key>
                <string>{195,83}</string>
            </dict>
            <key>coins_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,94},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>coins_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>conversion_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,455},{91,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,41}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>conversion_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,444},{91,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,41}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>diamond_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{91,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,41}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>diamond_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{82,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,41}}</string>
                <key>sourceSize</key>
                <string>{82,41}</string>
            </dict>
            <key>labelbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,293},{160,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,43}}</string>
                <key>sourceSize</key>
                <string>{160,43}</string>
            </dict>
            <key>shopitembj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,249}}</string>
                <key>sourceSize</key>
                <string>{204,249}</string>
            </dict>
            <key>shoplabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{671,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,215}}</string>
                <key>sourceSize</key>
                <string>{671,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:228bdeb0b117d45091720da4b9c965ef:1/1$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
