<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Get_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,864},{344,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,107}}</string>
                <key>sourceSize</key>
                <string>{344,107}</string>
            </dict>
            <key>bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1860},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,2},{178,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,45}}</string>
                <key>sourceSize</key>
                <string>{178,45}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1999},{211,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,47}}</string>
                <key>sourceSize</key>
                <string>{211,47}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,817},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>btncreateroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,118},{450,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,173}}</string>
                <key>sourceSize</key>
                <string>{450,173}</string>
            </dict>
            <key>btnexit.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,754},{84,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>btnjoinroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1455},{403,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,147}}</string>
                <key>sourceSize</key>
                <string>{403,147}</string>
            </dict>
            <key>btnloser.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,570},{223,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,92}}</string>
                <key>sourceSize</key>
                <string>{223,92}</string>
            </dict>
            <key>btnready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{218,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,93}}</string>
                <key>sourceSize</key>
                <string>{218,93}</string>
            </dict>
            <key>dogfall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{479,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,110}}</string>
                <key>sourceSize</key>
                <string>{479,110}</string>
            </dict>
            <key>editbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1445},{294,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,49}}</string>
                <key>sourceSize</key>
                <string>{294,49}</string>
            </dict>
            <key>gamestart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,752},{479,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,110}}</string>
                <key>sourceSize</key>
                <string>{479,110}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,640},{479,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,110}}</string>
                <key>sourceSize</key>
                <string>{479,110}</string>
            </dict>
            <key>mymoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,664},{221,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,308}}</string>
                <key>sourceSize</key>
                <string>{221,308}</string>
            </dict>
            <key>qipan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{524,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,525}}</string>
                <key>sourceSize</key>
                <string>{524,525}</string>
            </dict>
            <key>readiedbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,754},{220,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,93}}</string>
                <key>sourceSize</key>
                <string>{220,93}</string>
            </dict>
            <key>resultlabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1741},{117,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,59}}</string>
                <key>sourceSize</key>
                <string>{117,59}</string>
            </dict>
            <key>roomidbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1320},{194,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,123}}</string>
                <key>sourceSize</key>
                <string>{194,123}</string>
            </dict>
            <key>tips1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1860},{133,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,18}}</string>
                <key>sourceSize</key>
                <string>{133,18}</string>
            </dict>
            <key>tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,754},{302,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,61}}</string>
                <key>sourceSize</key>
                <string>{302,61}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,49},{177,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,67}}</string>
                <key>sourceSize</key>
                <string>{177,67}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,528},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,528},{479,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,110}}</string>
                <key>sourceSize</key>
                <string>{479,110}</string>
            </dict>
            <key>wuziqibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,974},{258,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,344}}</string>
                <key>sourceSize</key>
                <string>{258,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wuziqi.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a527ccae3eb6325aae8331f4ac7c1bc:1/1$</string>
            <key>textureFileName</key>
            <string>wuziqi.png</string>
        </dict>
    </dict>
</plist>
